.search-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.search-title {
}

.search-input {
  border-style: none;
  width: 400px;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: inset 2px 2px 4px #d9d9d9, inset -2px -2px 4px #ffffff;
  opacity: 0.8;
  font-weight: bold;
  padding: 10px;
  color: rgb(68, 68, 68);
}

.search-button {
  border-style: none;
  width: 400px;
  height: 40px;
  cursor: pointer;
  border-radius: 3px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 4px 4px 14px #d6d6d6, -4px -4px 14px #ffffff;
  font-weight: bold;
  opacity: 0.8;
  transition: 0.2s;
  &:hover {
    box-shadow: 10px 10px 20px #d6d6d6, -10px -10px 20px #ffffff;
  }
}
